{extend name="layout"} {block name="content"}

<!-- content start -->
<div class="admin-content">
  <div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
      <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg">所有订单</strong> /
        <small>All orders</small>
      </div>
    </div>

    <hr>
    <form action="" method="post">
      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" id="doc-prompt-toggleAll">
                <span class="am-icon-plus"></span> 新增</button>
              <button type="button" class="am-btn am-btn-default" onclick="batch('/admin/orders/delete')">
                <span class="am-icon-trash-o"></span> 删除</button>
            </div>
          </div>
        </div>

        <div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" name="seach" placeholder="旺旺号/QQ号">
            <span class="am-input-group-btn">
              <button type="submit" class="am-btn am-btn-default" type="button">搜索</button>
            </span>
          </div>
        </div>

      </div>
    </form>
    <!--新增modal弹出-->
    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-promptAll">
      <div class="am-modal-dialog">
        <div class="am-modal-hd">新增订单-信息填写</div>
        <div class="am-modal-bd">
          <hr>
          <p>店铺名称</p>
          <input type="text" class="am-modal-prompt-input" name="email" value="{$user.email}" disabled>
          <p>订单号：</p>
          <input type="text" class="am-modal-prompt-input" name="order_number">
          <p>客户旺旺号：</p>
          <input type="text" class="am-modal-prompt-input" name="order_alipay_id">
          <p>客户QQ号：</p>
          <input type="number" class="am-modal-prompt-input" name="order_qq">
          <p>商品信息：</p>
          <input type="text" class="am-modal-prompt-input" name="product_name">
          <p>状态日期：</p>
          <input type="date" class="am-modal-prompt-input" name="date">
        </div>
        <div class="am-modal-footer">
          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
          <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check">
                  <input type="checkbox" id="checkall" value="" />
                </th>
                <th class="table-id">订单号</th>
                <th class="table-email">店铺名称</th>
                <th class="table-wangwang">客户旺旺号</th>
                <th class="table-qqnumber am-hide-sm-only">客户QQ</th>
                <th class="table-goodsInfo am-hide-sm-only">商品信息</th>
                <th class="table-current am-hide-sm-only">当前状态</th>
                <th class="table-date am-hide-sm-only">状态日期</th>
                <th class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
              {foreach $list as $val}
              <tr>
                <input type="hidden" value="{$val.id}" name="user_id">
                <td>
                  <input type="checkbox" value='{$val.order_id}' name="order_id" />
                </td>
                <td>{$val.order_number}</td>
                <td>
                  <a>{$val.email}</a>
                </td>
                <td>{$val.order_alipay_id}</td>
                <td class="am-hide-sm-only">{$val.order_qq}</td>
                <td class="am-hide-sm-only">{$val.product_name}</td>
                <td class="am-hide-sm-only">{if condition="$val.status == 4"}此店铺已被拉黑{elseif condition="$val.status == 5"}此客户已被拉黑{elseif condition="$val.is_deleted"}已删除{elseif condition="$val.status
                  == 1"}已完成{else}未完成{/if}</td>
                <td class="am-hide-sm-only">{$val.updated_at}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <button type="button" name="btn_edit" class="am-btn am-btn-default am-btn-xs am-text-secondary">
                        <span class="am-icon-pencil-square-o"></span> 编辑</button>
                      <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"  onclick="delById('/admin/orders/del-black', $(this), 'name', 'order_id')">
                        <span class="am-icon-times"></span> 拉入黑名单</button>
                    </div>
                  </div>
                </td>
              </tr>
              {/foreach}
            </tbody>
          </table>
          <div class="am-cf">
            共 {$list->total()} 条记录 {$list->render()|raw}
          </div>
        </form>
      </div>

    </div>
  </div>

  <footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>

</div>
<!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
{/block}